@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Caveat:700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Aref Ruqaa', serif;
    font-weight: lighter;
    background-color: #a1a1a1;
    color: rgb(36, 36, 36);
    min-width: 700px;
  }

main {
    margin: 5vw 10vw;
    padding: 5vw;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 4.5em;
    margin-top: 0px;
    margin-bottom: .5em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .05em;
}

.form-group {
    flex: 0 0 auto;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bolder;
    padding-top: 2em;
}

label {
    display: block;
}

label > input {
    display: block;
    margin: auto;
    color: white;
}

input[type=text] {
    border: 0;
    background: none;
    border-bottom: 2px solid white;
}

input[type=text]:focus {
    border: 0;
    background: none;
    border-bottom: 2px solid rgb(48, 147, 160);;
}

#upload > label {
    margin-top: 5px;
    padding: 8px;
    background: rgb(48, 147, 160);
    border-radius: 5px;
}

#upload > label:hover {
    background: rgb(64, 180, 196);
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

#styled-select{
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    background: rgb(48, 147, 160);
}

#styled-select select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    color: white;
}

#styled-select select:focus {
    outline: none;
}

#styled-select option {
    outline: none;
    background: rgb(48, 147, 160);
    border: none;
    line-height: 1.2em;
}

input[type=color] {
    border: 0;
    background: rgb(48, 147, 160);
    border-radius: 5px;
    padding: 10px;
}

#intro {
    padding: 0px 3vw;
    text-align: center;
}

#form {
    margin: 5vw auto;
    width: calc(100% - 20vw);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

#meme {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    width: calc(100% - 20vw);
    min-width: 400px;
    min-height: 400px;
    padding: 2vw;
}

img {
    width: 100%;
    min-width: 400px;
    border: 1px solid black;
    border-radius: 25px;
    visibility: hidden;
}

#intro-text {
    padding: 10vw 0px;
}

#header-text, #footer-text {
    font-size: 3em;
    position: absolute;
}

#header-text {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer-text {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submit {
    width: fit-content;
    margin: auto;
    padding: 2em;
}

button {
    background-color: rgb(48, 147, 160);
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
    main {
        margin: 0px;
    }
}